<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhati Traders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    
</head>
<nav class="navbar ">
    <div class="">
      
      <div class="navbar-header">

          <a href="/"><p class="navbar-brand">BHATI TRADERS</p></a>

      <div class="menu-toggle" id="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      </div>
      <div id="myTopnav">
       
        <ul class="nav navbar-nav navbar-right nav-links"   id="nav-links">
          <!-- 6 -->
          <li id="home"><a href="/"> HOME</a></li>
          <li id="about"><a href="/Search">SEARCH</a></li>
          <li id="contact"><a href="/stockupdate">STOCK-UPDATE</a></li>
          <li id="contact"><a href="/bills">ALL-BILLS</a></li>
          <li id="contact"><a href="/allstock">STOCK</a></li>

         

        </ul>
      </div>
      
    </div>
  </nav>
<body>
    
