<%- include("partials/header") -%>

<divi id="sr">

    <div class="container">
        <div class="box">
            <a href="/search/bills" > <img class="searchicon" src="/bill.png" alt="bill-icon"></a>
           <h1>bills</h1>
        </div>
        <div class="box">
            <a href="/search/mobiles"> <img class="searchicon" src="/phone-call.png" alt="phone-calls" ></a><h1>Mobiles</h1>
        </div>
        <div class="box">   
        <img class="searchicon" src="/packages.png" alt="packages">
        <h1>Other staff</h1>

        </div>
    </div>
    
</div>
<%- include("partials/footer") -%>
